*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #6b6b6bde;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 10px 60px;
    position: fixed;
    top: 0;
    align-items: center;

}

header picture img{
    width: 100px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}
header nav ul a{
    text-decoration: none;
    color: black;
    transition: filter 0.5s;
}

header nav ul a:hover{
    filter: opacity(10%);
}
header nav ul a li{
    margin: 0px 8px;
}

#firstSection, .music{
    margin-top: 120px;
    display: flex;
    padding: 0px 20px;
}

.music {
    background-image: url(../assets/bg1.jpg);
    margin-top: 20px;
    background-color: #240115;
    color: #ffffffe3;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.music .video{
    width: 50%;
    margin-bottom: 20px;

}

.music  .video iframe{
    width: 100%;
}

section .text{
    flex: 1;
    margin-right: 20px;

}

section .text p{
    margin: 5px 0px;
    text-align: justify;
}


section picture{
    width: 50%;
}

section picture img{
    width: 100%;
}

.classes{
    padding: 20px 40px;
    background-color: grey;
}

.classes .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.classes .grid figure{
    width: 220px;
}

.classes .grid figure .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
   /* display: none;*/
}

.classes .grid figure .modal:target {
    opacity: 1;
    pointer-events: auto;
}

.classes .grid figure .modal .conteudo-modal {
    width: 500px;
    height: 200px;
    margin: 200px auto;
    background-color: #ffffffe3;
    position: relative;
    padding: 20px;
}

.classes .grid figure .modal .conteudo-modal p {
    margin: 10px 0px;
}
.classes .grid figure .modal .conteudo-modal .fechar{
    position: absolute;
    right: -10px;
    top: -32px;
    background-color: black;
    border-radius: 100%;
    padding: 10px;
    color: #f3f300;
    text-decoration: none;

}

.classes .grid figure picture img{
    height: 330px;
}

.classes .grid figure figcaption{
    height: 100px;
    background-color: #00000073;
    margin-top: -4px;
    padding: 10px;
}

.classes .grid figure figcaption a{
    text-decoration: none;
    color: rgba(2, 2, 168, 0.705);
}

.classes .grid figure figcaption a:hover{
    color: orangered;
}